/* general text formatting */


/* h1, h2, h3, nav, footer {
 font-family: Georgia, Cambria, "Times New Roman", serif;
}

body {
   font-family: "Lucida Sans", Verdana, Arial, sans-serif;
font-size: 100%; }

Kathleen Breitinger
     Chapter 4 
     WEB 360
     1/3/2017
   
   */
   

h1, h2, h3, nav, footer {
	font-family: Georgia, Cambria, "Times New Roman", serif;
}
body {
	font-family: "Lucida Sans", Verdana, Arial, sans-serif;
	font-size: 100%;
	margin-right: auto;
	margin-left: 150px;
}
fieldset {
	border: 1px solid black;
	padding: 10px;
	margin: 20px;
	background-color: #EBF4FB;
	border: 1pt solid #95BEF0;
	width: 80%;
}
caption {
	background-color: #95BEF0;
	font-size: 18px;
	text-align: center;
	font-weight: bold;
}
table {
	text-align: left;
	border: 1px solid black;
	border-collapse: collapse;
	margin-top: 20px;
	padding: 10px;
}
th {
	background-color: #EBF4FB;
	border-bottom: solid 1pt black;
	border-collapse: collapse;
	padding: 15px;
}
td {
	border-bottom: solid 1pt black;
	padding: 15px;
	text-align: center;
}
caption {
	background-color: #95BEF0;
	font-size: 18px;
	text-align: center;
	font-weight: bold;
}
	
	